.active {
	background-color: white; 
}

.flex-container {
	display: flex;
}

.body {
	flex-direction: column;
	padding: 0px 0px 0px 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0px 0px 0px;
	width: 180px;
	height: 100%;
	background-color: #b27a78;
}

li a {
	display: block;
	width: 180px;
	color: #F7CAC9;
	font-size: 14pt;
	padding: 8px 20px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}

@font-face {
	font-family: "Schnyder";
	src: url('SchnyderM-BoldItalic.woff') format('woff');
}

#body-01 {
	background-color: #F7CAC9;
	color: #B27A78;
	padding: 20px;
	font-family: 'Schnyder', serif;
	font-size: 24pt;
	width: 700px;
	margin: 20px;
}

#body-02 {
	background-color: #63888E;
	color: #C6E2DA;
	padding: 20px;
	font-family: 'Schnyder', serif;
	font-size: 24pt;
	width: 700px;
	margin: 20px;
}

#body-03 {
	color: #91A8D0;
	background-color: #403F6F;
	padding: 20px;
	font-family: 'Schnyder', serif;
	font-size: 24pt;
	width: 700px;
	margin: 20px;
}