@font-face {
	font-family: "Schnyder";
	src: url('SchnyderM-BoldItalic.woff') format('woff');
}

.active {
	background-color: white; 
}

.flex-container {
	display: flex;
}

.body {
	flex-direction: column;
	padding: 0px 0px 0px 40px;
}

.title {
	font-family: 'Schnyder', serif;
	font-size: 34pt;
}

.subhead {
	font-family: 'Schnyder', serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0px 0px 0px;
	width: 180px;
	height: 700px;
	background-color: #b27a78;
}

li a {
	display: block;
	width: 180px;
	color: #F7CAC9;
	font-size: 14pt;
	padding: 8px 20px;
	text-decoration: none;
}

/* change link cover on hover */

li a:hover {
	background-color: white;
}