.active {
	background-color: white; 
}

.flex-container {
	display: flex;
}

.body {
	flex-direction: column;
	padding: 0px 0px 0px 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 15px 0px 0px 0px;
	width: 180px;
	height: 100%;
	background-color: #b27a78;
}

li a {
	display: block;
	width: 180px;
	color: #F7CAC9;
	font-size: 14pt;
	padding: 8px 20px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}

#body-01 {
	font-size: 24pt;
	width: 800px;
	position: relative;
	top: 100px;
	padding: 0px 0px 0px 40px;
}

#link {
	position: relative;
	top: 100px;
}

#footer-01 {
	font-size: 24pt;
	width: 800px;
	align-self: flex-end;
	padding: 0px 0px 0px 40px;
}

#body-02 {
	font-size: 24pt;
	width: 800px;
	align-self: flex-start;
	padding: 0px 0px 0px 40px;
}

#body-03 {
	font-size: 24pt;
	width: 600px;
	align-self: center;
	padding: 0px 0px 0px 40px;
}

.copybox {
	width: 1200px;
	height: 1400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0px 0px 0px 40px;
}